body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background:#bdbfc4;
    font-family:Arial;
}
table,th,td{
    margin-left: 30px;
    border: 4.5px solid black;
}
.payment_charges{
    margin: 20px;
    padding: 20px;
}
.payment_charges p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.Example{
    color: red;
}